.Home {
    width: 100%;
    min-height:325px;
    text-align: center;
    background-color: rgb(187, 176, 176);
  }
  .Home h1 {
    text-align: center;
    padding-top: 1em;
    font-size: 4em;
  }
  .Home p {
    text-align: center;
    font-size: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .Home Button {
    width: 10em;
  }